*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    padding-top: 16px
}
.carousel-inner img {
    max-height: 80rem;
}

.navbar-nav .nav-link.active {
    color: #fff
}

.nav-link {
    text-align: center;
    color: #fff;
}


header {
    top: 0;
    left: 0;
    background-color: #2b2828;
}

header h1 {
    color: #fff;
}

.container-fluid {
    padding: 0;
}
.carousel-inner img{
    height: 25rem;
}

#carousel-exemplo .carousel-caption {
    top: 30%;
}

#carousel-exemplo .carousel-caption {
    font-size: 50px;
    margin-bottom: 30px;
}

#carousel-exemplo .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff; 
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.social-icons {
    list-style: none;
    display: flex;
    gap: 1em;
}

.copy {
    text-align: center;
}

@media (max-width: 1080px) {

    .col-4 {
        width: 50%;
        padding: 12px;
    }

    .card-title {
        font-size: 1em;
    }

    .card-subtitle {
        font-size: 0.8em;
    }

    .card-text {
        font-size: 16px;
        padding: 6px;
        margin: 0;
    }

    .btn.btn-primary {
        font-size: 20px;
        padding: 2px;
    }

    .card-footer {
        font-size: 0.7em;
        padding-top: 12px;
    }

        h1 {
            font-size: 1.5em;
            padding: 0;
            margin: 0;
    }

    .card-img {
        height: 25em;
    }
    .card-img-overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }


}

@media screen and (max-width: 680px) {

    .col-4 {
        width: 90%;
        
    }

    .card-title {
        font-size: 1.3em;
    }

    .card-subtitle {
        font-size: 0.8em;
    }

    .card-text {
        font-size: 0.8em;
        padding-bottom: 16px;
    }

    .btn.btn-primary {
        font-size: 0.8em;
        padding: 2px;
        margin-top: 8px;
    }

    .card-footer {
        font-size: 0.8em;
        padding-top: 10px;
    }

    .card-img-overlay {
        background-color: rgba(0, 0, 0, 0.5)
    }

}
